{% extends 'base.html.twig' %}

{% block title %}New Agency{% endblock %}

{% block body %}
    <h1>Créer une agence</h1>

    <a class="btn btn-sm btn-secondary" href="{{ path('app_agency_index') }}">Retour à la liste</a>

    {{ include('agency/_form.html.twig') }}

    
    
{% endblock %}
