.cacher{
    display: none;
}

.agenceZone{
    border: solid 2px red;
}

.companyZone{
    border: solid 2px green;
}

#user_agence{
    border: solid 2px rgb(255, 174, 0);
}

#user_company{
    border: solid 2px rgb(29, 207, 29);
}