{% extends 'base.html.twig' %}

{% block title %}New ProductEvent{% endblock %}

{% block body %}
    <h1>Create new ProductEvent</h1>

    {{ include('product_event/_form.html.twig') }}

    <a href="{{ path('app_product_event_index') }}">back to list</a>
{% endblock %}
