body {
  font-family: "Montserrat", sans-serif;
}
.loginContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLogin {
  padding: 5px;
}
.logo {
  max-width: 200px;
}

#calendar {
  max-width: 100%;
  margin: 0 auto;
  max-height: 700px;
}

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:contain;
  /* drop shadow */
  box-shadow: 0 0 5px rgba(161, 161, 161, 0.5);
}

