body {
  font-family: "Montserrat", sans-serif;
}
.loginContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #eee;
  background-color: #fff;
}

.formLogin {
  padding: 5px;
}
.logo {
  max-width: 200px;
}

#calendar {
  max-width: 100%;
  margin: 0 auto;
  max-height: 700px;
}

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:contain;
  /* drop shadow */
  box-shadow: 0 0 5px rgba(161, 161, 161, 0.5);
}

h1{
  font-size: 28px !important;
  font-weight: 300;
  color: #000;
  margin-bottom:10px;
}

.offcanvas-body li{
  padding: 10px 0px;
  list-style: none;
}
.offcanvas-body li a{
  text-decoration: none;
  color:rgb(44, 44, 44);
}
.offcanvas-body li a:hover{
  color:rgb(44, 44, 44);
}

 .title{
font-weight: 800;
text-transform: uppercase;
}


hr{
 color:#cacaca;
}

.btn-success{
  background-color:#48c189;
  border-color:#48c189;

}

a:hover{
  opacity: 0.8;
  transition: 0.3s
}