.cacher{
display: none;
}

.productDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    flex-wrap: wrap;
}

.product{
    width: 33%;
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}