{% extends 'base.html.twig' %}

{% block title %}Edit PriceListPrice{% endblock %}

{% block body %}
    <h1>Edit PriceListPrice</h1>

    {{ include('price_list_price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_price_list_price_index') }}">back to list</a>

    {{ include('price_list_price/_delete_form.html.twig') }}
{% endblock %}
